html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  outline: none;
}
@font-face {
  font-family: 'esamanru_Bold';
  src: url('../src/font/esamanru Bold.ttf');
}
@font-face {
  font-family: 'esamanru_Light';
  src: url('../src/font/esamanru Light.ttf');
}
@font-face {
  font-family: 'esamanru_Medium';
  src: url('../src/font/esamanru Medium.ttf');
}


@font-face {
  font-family: 'Army_Bold';
  src: url('../src/font/Army_Bold.ttf');
}
@font-face {
  font-family: 'tway_sky';
  src: url('../src/font/tway_sky.ttf');
}
@font-face {
  font-family: 'ELAND-choice-M';
  src: url('../src/font/ELAND-choice-M.ttf');
}
@font-face {
  font-family: 'ELAND-choice-L';
  src: url('../src/font/ELAND-choice-L.ttf');
}
@font-face {
  font-family: 'ELAND-choice-B';
  src: url('../src/font/ELAND-choice-B.ttf');
}
@font-face {
  font-family: 'GmarketSansTTFLight';
  src: url('../src/font/GmarketSansTTFLight.ttf');
}
@font-face {
  font-family: 'GmarketSansTTFBold';
  src: url('../src/font/GmarketSansTTFBold.ttf');
}
@font-face {
  font-family: 'NEXONLv1GothicBold';
  src: url('../src/font/NEXONLv1GothicBold.ttf');
}
@font-face {
  font-family: 'NEXONLv1GothicLight';
  src: url('../src/font/NEXONLv1GothicLight.ttf');
}
@font-face {
  font-family: 'NEXONLv1GothicRegular';
  src: url('../src/font/NEXONLv1GothicRegular.ttf');
}
@font-face {
  font-family: 'InkLipquid';
  src: url('../src/font/InkLipquidFonts.ttf');
}

@font-face {
    font-family: 'digital';
    src: url('../src/font/DS-DIGIB.TTF');
  }


@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../src/font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../src/font/OpenSans-ExtraBold.ttf');
}

@font-face {
font-family: 'OpenSOpenSans-Bold';
src: url('../src/font/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'DoHyeon-Regular';
  src: url('../src/font/DoHyeon-Regular.ttf');
}

@font-face {
  font-family: 'NanumGothic-Bold';
  src: url('../src/font/NanumGothic-Bold.ttf');
}

@font-face {
  font-family: 'NanumGothic-ExtraBold';
  src: url('../src/font/NanumGothic-ExtraBold.ttf');
}

@font-face {
  font-family: 'NanumGothic-Regular';
  src: url('../src/font/NanumGothic-Regular.ttf');
}
